**Will Whitehead**

In [1]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

Submitted time: 2023-12-03 17:19:46.318380

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [7]:
pizza = ['pepperoni', 'cheese', 'sausage']
for pizza in pizza:
  print(f'I like {pizza} pizza.')

I like pepperoni pizza.
I like cheese pizza.
I like sausage pizza.

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [8]:
pizza = ['pepperoni', 'cheese', 'sausage']
for pizza in pizza:
  print(f'I like {pizza} pizza.')
print('I really love pizza!')

I like pepperoni pizza.
I like cheese pizza.
I like sausage pizza.
I really love pizza!

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [9]:
pets = ['dog','cat','bunny']
for pet in pets:
  print(f'A {pet} would make a great pet.')

A dog would make a great pet.
A cat would make a great pet.
A bunny would make a great pet.

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [10]:
pets = ['dog','cat','bunny']
for pet in pets:
  print(f'A {pet} would make a great pet.')
print('Any of these animals would make a great pet.')

A dog would make a great pet.
A cat would make a great pet.
A bunny would make a great pet.
Any of these animals would make a great pet.

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [13]:
for value in range(1, 21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [ ]:
hundred_list = list(range(1, 101))
for number in hundred_list:
  print(number)

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [22]:
#I am a little confused by this question. If the list is from 1 to 1 million, it can't end at 100 if I use max(), right? I might just be misunderstanding.
hundred_list = list(range(1, 101))
print(min(hundred_list))
print(max(hundred_list))
sum(hundred_list)

1
100

5050

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [24]:
odd_list = list(range(1, 20, 2))
for number in odd_list:
  print(number)

1
3
5
7
9
11
13
15
17
19

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [25]:
threes_list = list(range(3, 31, 3))
for number in threes_list:
  print(number)

3
6
9
12
15
18
21
24
27
30

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [31]:
cubes = []
cubes_list = list(range(1,11))
for number in cubes_list:
  cube = number ** 3
  cubes.append(cube)
for number in cubes:
  print(number)

1
8
27
64
125
216
343
512
729
1000

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [32]:
cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [34]:
#this is the odd number list from Question 6.
odd_list = list(range(1, 20, 2))
for number in odd_list:
  print(number)
print(f'The first three items in the list are: {odd_list[0:3]}.')

1
3
5
7
9
11
13
15
17
19
The first three items in the list are: [1, 3, 5].

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [36]:
odd_list = list(range(1, 20, 2))
for number in odd_list:
  print(number)
print(f'Three items from the middle of the list are: {odd_list[4:7]}.')

1
3
5
7
9
11
13
15
17
19
Three items from the middle of the list are: [9, 11, 13].

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [39]:
odd_list = list(range(1, 20, 2))
for number in odd_list:
  print(number)
print(f'The last three items in the list are: {odd_list[7:10]}.')

1
3
5
7
9
11
13
15
17
19
The last three items in the list are: [15, 17, 19].

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [43]:
pizzas = ['pepperoni', 'cheese', 'sausage']
friend_pizzas = ['pepperoni', 'cheese', 'sausage']
pizzas.append('veggie')
print(pizzas)
print(friend_pizzas)

['pepperoni', 'cheese', 'sausage', 'veggie']
['pepperoni', 'cheese', 'sausage']

Add a different pizza to the list `friend_pizzas`.

In [44]:
pizzas = ['pepperoni', 'cheese', 'sausage']
friend_pizzas = ['pepperoni', 'cheese', 'sausage']
pizzas.append('veggie')
friend_pizzas.append('salami')
print(pizzas)
print(friend_pizzas)

['pepperoni', 'cheese', 'sausage', 'veggie']
['pepperoni', 'cheese', 'sausage', 'salami']

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [47]:
pizzas = ['pepperoni', 'cheese', 'sausage', 'veggie']
friend_pizzas = ['pepperoni', 'cheese', 'sausage', 'salami']
print('My favorite pizzas are:')
for pizza in pizzas:
  print(pizza.title())
print("My friend's favorite pizzas are:")
for pizza in friend_pizzas:
  print(pizza.title())

My favorite pizzas are:
Pepperoni
Cheese
Sausage
Veggie
My friend's favorite pizzas are:
Pepperoni
Cheese
Sausage
Salami

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [48]:
foods = ('pizza', 'rolls', 'lasagna', 'macaroni', 'salad')
for food in foods:
  print(food)

pizza
rolls
lasagna
macaroni
salad

Try to modify one of the items, and make sure that Python rejects the change.

In [50]:
foods = ('pizza', 'rolls', 'lasagna', 'macaroni', 'salad')
foods[3] = 'breadsticks'

TypeError: ignored

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [57]:
foods = ('pizza', 'rolls', 'lasagna', 'macaroni', 'salad')
print('Old Menu:')
for food in foods:
  print(food.title())
foods = ('pizza', 'pasta', 'lasagna', 'breadsticks', 'salad')
print('Revised Menu:')
for food in foods:
  print(food.title())

Old Menu:
Pizza
Rolls
Lasagna
Macaroni
Salad
Revised Menu:
Pizza
Pasta
Lasagna
Breadsticks
Salad